/* Global SCSS classes using CSS variables */

/* Background Colors */
.mainbg {
  background-color: var(--q-mainbg);
}

.lightbg {
  background-color: var(--q-lightbg);
}
.lightbgtext {
  color: var(--q-lightbg);
}

.mutedbg {
  background-color: var(--q-mutedbg);
}
.mutedbgtext {
  color: var(--q-mutedbg);
}

/* Text Colors */
.maintext {
  color: var(--q-maintext);
}

.lighttext {
  color: var(--q-lighttext);
}

.mutedtext {
  color: var(--q-mutedtext);
}

.text-input {
  color: var(--q-maintext) !important;
}
.bg-input {
  background: var(--q-lightbg) !important;
}
.q-field__bottom {
  color: var(--q-maintext) !important;
}

@font-face {
  font-family: 'Inter';
  src: url('InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


body,
.q-body,
.q-page,
.q-layout,
.q-btn,
.q-field__native,
.q-input,
.q-table {
  font-family: 'Inter', sans-serif;
}
